.header__lang-link{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
}
.header__lang-link:hover {
  opacity: .8;
}
.header__lang-link:active:link {
  text-decoration: underline;
}
.header__lang-link:focus {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .header__lang-link {
    font-size: calc(1.125rem + (100vw - 320px) / (768 - 320) * (24 - 18));
  }
}
