.cover__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: calc(76 / 72);
}

@media screen and (max-width: 768px) {
  .cover__link {
    font-size: calc(2rem + (100vw - 320px) / (768 - 320) * (72 - 32));
  }
}
